---
http_interactions:
- request:
    method: get
    uri: http://api.arcticelvis.com/api/v2/events/177.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=cd242fb288ddf6e501decb92b84ac0a4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c186ce12ec597392a98351e0dad5f986"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"event":{"id":177,"name":"New user","state":"active","created_at":"2014-01-08T18:59:15Z","updated_at":"2014-01-08T19:00:11Z","event_messages":[{"id":235,"subject":"Welcome","created_at":"2014-01-08T19:00:02Z","updated_at":"2014-01-08T19:00:18Z","state":"active","preview":false}]}}'
  recorded_at: Wed, 08 Jan 2014 20:18:58 GMT
recorded_with: VCR 2.8.0
