---
http_interactions:
- request:
    method: post
    uri: http://api.arcticelvis.com/api/v2/events/1/trigger.json
    body:
      encoding: UTF-8
      string: '{"to":"ch@skalar.no","payload":{"name":"Arctic"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=cd242fb288ddf6e501decb92b84ac0a4
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"error":{"id":404,"message":"Could not find event with id 1"}}'
  recorded_at: Wed, 08 Jan 2014 21:08:36 GMT
recorded_with: VCR 2.8.0
